.App {
    display: flex;
}

.absElement {
    position: absolute;
}

.centerAsset {
    transform: translate(-50%, -50%);
}

.horizontalCenterAsset {
    transform: translate(-50%);
}

.invisible {
    visibility: hidden;
}